<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <title> About us - Revin Krishi</title>
    <link rel="stylesheet" href="new_home.css">
    <link rel="stylesheet" href="aboutus.css">
</head>
<body class="aboutus">
    <header>
        <div class="logo">
            <img src="logo.png" alt="Satcard Logo">
        </div>
        <!-- Dropdown icon for mobile screens -->
        <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-bars"></i></button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/product3">Revin Sight</a>
                <a href="/product2">Revin Log</a>
                <a href="/product1">Revin Skypulse</a>
                <a href="/usecases">Use Cases</a>
                <a href="/about">About us</a>
                <a href="/contact" class="dropdown-demo">Contact Us</a>
              </div>
        </div>
        <!-- Regular navigation for larger screens -->
        <nav class = "nav about-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="system-dropdown">
                    <a href="#">Systems</a>
                    <ul class="dropdown-content">
                        <li><a href="/product3">Revin Sight</a></li>
                        <li><a href="/product2">Revin Log</a></li>
                        <li><a href="/product1">Revin Skypulse</a></li>
                    </ul>
                </li>
                <li><a href="/usecases">Use Cases</a></li>
                <li><a href="/about">About us</a></li>
                
            </ul>
            <a class="nav-btn" href="/contact">Contact us</a>
        </nav>
    </header>

    <section class="mission-section">
        <div class="container">
            <div class="mission-content">
                <div class="mission-text">
                    <!-- <h1>Our Mission</h1> -->
                    <h2>Transforming Agriculture, <span>Together</span></h2>
                    <p>We are leveraging technological innovation for smarter farming and better harvests.
                    </p>
                </div>
                <div class="mission-images">
                    <video autoplay muted loop plays-inline id="about-video">
                        <source src="about-video.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </section>

    <section class="story-section">
        <div class="container">
            <h2>Sustainable Data-Driven Farming—it's what we do</h2>
            <p>At Revin Krishi, we're driven by a passion for sustainable agriculture and a commitment to empowering growers. Our team of skilled engineers, data scientists, and agronomists is dedicated to providing real-time insights into crop health, soil conditions, and weather patterns. By harnessing the power of technology, we empower farmers to make data-driven decisions that optimise their farming practices, increase yields, and reduce environmental impact.</p>
            
    </section>

    <section class="vision-mission-container">
        <div class="vision">
            <div class="vision-text">
                <h1>Vision</h1>
                <p>Democratise a Sustainable, Data-Driven Future for All Growers.</p>
            </div>
            <div class="vision-image">
                <img src="vission.png" alt="Rocket Icon">
            </div>
            
        </div>
        <div class="mission">
            <div class="mission-text2">
                <h1>Mission</h1>
                <p>Build the most trusted, efficient and inclusive data-driven tools for growers to sustainably transform agriculture</p>
            </div>
            <div class="mission-image">
                <img src="mission.png" alt="Brain Icon">
            </div>
        </div>
    </section>

    <section class="why-hungry-for-change">
        <div class="text-content">
            <h2>Revin Krishi's Values</h2>
            <div class="underline"></div>
            <div class="features">
                <div class="feature">
                    <h3>Your Success, Our Priority</h3>
                    <p>Customer-centricity drives everything we do, striving for delight and loyalty.</p>
                </div>
                <div class="feature">
                    <h3>Ownership Mindset</h3>
                    <p>We take responsibility, think big, and own every outcome.</p>
                </div>
                <div class="feature">
                    <h3>Building for the Future</h3>
                    <p>Bold vision, innovative spirit, and long-term focus.</p>
                </div>
                <div class="feature">
                    <h3>Fuelling Innovation</h3>
                    <p>Curiosity drives us, passion propels us, and action delivers results.</p>
                </div>
            </div>
        </div>
        <div class="image-container">
            <img src="values.png" alt="Happy Farmer">
        </div>
    </section>

    <section class="partners-section">
            <div class="mission-content1">
                <div class="partner-text">
                    <h1>Our partners</h1>
                    <h2>We Grow Stronger Together</h2>
                    <p>Our success is rooted in collaboration. We partner with leading agricultural organizations, research institutions, and technology providers to deliver cutting-edge solutions. If you're interested in joining our network of partners, we'd love to hear from you.</p>
                    <a href="/contact" class="partner-btn">Become a Partner</a>
                </div> 
                <div class="mission-images1">
                    <img class="partner-image" src="image4.jpg" alt="Mission Image 4">
                </div>
            </div>
    </section>

<section class="team-section">
    <h2>Meet our founders</h2>
    <div class="team-container">
        <div class="team-team-member">
            <div class="team-image-container">
                <img src="Sreehari_REVIN.png" alt="Jim Ethington">
                <div class="team-overlay"></div>
            </div>
            <h3 class="team-name">Sreehari V</h3>
            <p class="team-role">CEO and Co-Founder</p>
        </div>
        <div class="team-team-member">
            <div class="team-image-container">
                <img src="Sreenath.jpeg" alt="Oz Ben-David">
                <div class="team-overlay"></div>
            </div>
            <h3 class="team-name">Sreenath Vijayakumar</h3>
            <p class="team-role">Co-Founder, Technical Advisor</p>
        </div>
        <div class="team-team-member">
            <div class="team-image-container">
                <img src="Satyajit_Das.jpg" alt="Mika Farber">
                <div class="team-overlay"></div>
            </div>
            <h3 class="team-name">Satyajit Das</h3>
            <p class="team-role">Co-Founder, Technical Advisor</p>
        </div>
    </div>
</section>

    <!-- <section class="team-section">
        <div class="container">
            <h2>Meet Our Team</h2>
            <div class="team-members">
                <div class="team-member">
                    <div class="circle">
                        <img src="team4.jpg" alt="Robert Saunders">
                    </div>
                    <h3>Robert Saunders</h3>
                    <p>Founder & CEO</p>
                </div>
                <div class="team-member">
                    <div class="circle">
                        <img src="team2.jpg" alt="Jane Smith">
                    </div>
                    <h3>Jane Smith</h3>
                    <p>Chief Technology Officer</p>
                </div>
                <div class="team-member">
                    <div class="circle">
                        <img src="team3.jpg" alt="Mike Johnson">
                    </div>
                    <h3>Mike Johnson</h3>
                    <p>Head of Operations</p>
                </div>
            </div>
        </div>
    </section> -->


    
    <footer class="footer">
        <div class = "links">
            <div class ="links-div">
                <div class="link_ele">
                    <img src ="logo.png" class="logo-img">
                    <div class = "revin-cont">
                        <p class = "link-css-con logo-bel-con">Building the most trusted, efficient, and inclusive data-driven tools for growers to sustainably transform agriculture.</p>
                        <!-- <p class = "link-css-con"></p> -->
                        <!-- <div class="social-media">
                            <a href= "#" target="_blank"><img src= "facebook.png" class ="social-icon social-first"></a>
                            <a href= "https://www.linkedin.com/company/revinkrishi/" target="_blank"><img src= "linkedIn.png" class ="social-icon social-first"></a>
                            <a href= "#" target="_blank"><img src= "instagram.png" class ="social-icon"></a>
                            <a href= "#" target="_blank"><img src= "twitter.png" class ="social-icon"></a>
                        </div> -->
                     </div>
                </div>
                <div class= "quick">
                    <div class="quick-links">
                        <p class = "heading1">Quick Links</p>
                        <a href= "/" class="links-click"><p class = "link-css link-first">Home</p></a>
                        <a href= "/product3" ><p class = "link-css">Revin Sight</p></a>
                        <a href= "/product2" ><p class = "link-css">Revin Log</p></a>
                        <a href= "/product1" ><p class = "link-css">Revin Skypulse</p></a>
                        <a href= "/usecases" ><p class = "link-css">Use cases</p></a>
                        <a href= "/about"  ><p class = "link-css">About us</p></a>
                        <a href= "/contact" ><p class = "link-css">Contact us</p></a>
                        
                        <!-- <a href= "#" ><p class = "link-css">Resource</p></a> -->
                    </div>
                </div>
                <div>
                    <div class="useful-links">
                        <p class = "heading1" >Useful Links</p>
                        <a href= "#"><p class = "link-css link-first">Terms and Conditions</p></a>
                        <a href= "#"><p class = "link-css">Privacy Policy</p></a>
                        <a href= "#"><p class = "link-css">FAQs</p></a>
                        
                    </div>
                </div>
                <div class="download-links-div">
                    <div class="download-links">
                        <p class = "heading1">Address</p>
                        <p class = "link-css-con link-first">Technology Innovation Foundation Of IIT Palakkad (TECHIN)
                            V Square Building, 3/1443, NH544, opposite ITI Ltd, Kanjikode, Pudussery Central, Kerala 678623
                            </p>
                        <!-- <a href= "#"><img src = "apple.png" class ="down-img down-img-first"></a>
                        <a href= "#"><img src = "android.png" class ="down-img"></a>   -->
                    </div>
                </div>
            </div>
        </div>
        <div class="below-footer">
            <div class="below-footer-content">
                <h2>Write to us on</h2>
                <p><a href="mailto:connect@revinkrishi.com">connect@revinkrishi.com</a></p>
                <p><i class="fa fa-whatsapp" style="color: green; font-size: 24px;"></i><a href="https://wa.me/919778485001" target="_blank">+919778485001</a></p>
                <p>"Send hi on WhatsApp to this number for more details".</p>
            </div>
            <hr class="below-footer-divider">
            <div class="below-footer-bottom">
              <p>Copyright @ 2024 all rights reserved</p>
              <div class="below-footer-social-icons">
                <a href="https://www.youtube.com/@RevinKrishi"><i class="fa fa-youtube-play" style="color: red; font-size: 26px;"></i></a>
                <a href="#"><i class="fa fa-facebook" style="color: #0866FF; font-size: 26px;"></i></a>
                <a href="https://www.instagram.com/revinkrishi?igsh=cWt3dzNvYzlnNnMz"><i class="fa fa-instagram" style="color: #E1306C; font-size: 26px;"></i></a>
                <a href="https://www.linkedin.com/company/revinkrishi/"><i class="fa fa-linkedin" style="color: #0A66C2; font-size: 26px;"></i></a>
              </div>
            </div>
        </div>
    </footer>




    <script>
        document.addEventListener('DOMContentLoaded', () => {
           const dropdown = document.querySelector('.dropdown');
           const dropbtn = dropdown.querySelector('.dropbtn');

           dropbtn.addEventListener('click', (e) => {
               e.stopPropagation();
               dropdown.classList.toggle('show');
           });

           window.addEventListener('click', () => {
               if (dropdown.classList.contains('show')) {
                   dropdown.classList.remove('show');
               }
           });

           dropdown.addEventListener('click', (e) => {
               e.stopPropagation();
           });
       });
   </script>
   <script type="text/javascript">
    window.addEventListener("scroll", function () {
      var header = document.querySelector("header");
      var logo = document.querySelector(".logo img");
      var dropdownButton = document.querySelector(".dropbtn");
      var dropdownIcon = document.querySelector(".dropbtn i");
      var navItems = document.querySelectorAll("header nav ul li a"); // Select all <a> tags inside <li>
      
      // Toggle 'sticky' class on header
      header.classList.toggle("sticky", window.scrollY > 0);
    
      if (window.scrollY > 0) {
      logo.src = "logo.png"; // Path to the new logo image
    } else {
      logo.src = "logo.png"; // Path to the original logo image
    }

    if (window.scrollY > 0) {
      dropdownButton.style.backgroundColor = "transparent"; // Change dropdown background
      dropdownButton.style.color = "#000"; // Change text/icon color
      dropdownIcon.style.color = "#000"; // Change icon color to white
    } else {
      dropdownButton.style.backgroundColor = ""; // Reset to default
      dropdownButton.style.color = ""; // Reset text/icon color
      dropdownIcon.style.color = "black"; // Reset icon color to default
    }
      // Change color of <li> items based on scroll position
      if (window.scrollY > 0) {
        navItems.forEach(function (item) {
          item.style.color = "black"; // Change to your desired color (e.g., tomato)
        });
      } else {
        navItems.forEach(function (item) {
          item.style.color = ""; // Reset to original color (empty string applies default style)
        });
      }
    });
  </script>
    <script src="../backend/script.js"></script>
</body>
    
</html>