<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revin Sight - Revin Krishi</title>
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="new_home.css">
    <link rel="stylesheet" href="product1.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo1.png" alt="Satcard Logo">
        </div>
        <!-- Dropdown icon for mobile screens -->
        <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-bars"></i></button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/product3">Revin Sight</a>
                <a href="/product2">Revin Log</a>
                <a href="/product1">Revin Skypulse</a>
                <a href="/usecases">Use Cases</a>
                <a href="/about">About us</a>
                <a href="/contact" class="dropdown-demo">Contact Us</a>
              </div>
        </div>
        <!-- Regular navigation for larger screens -->
        <nav class = "nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="system-dropdown">
                    <a href="#">Systems</a>
                    <ul class="dropdown-content">
                        <li><a href="/product3">Revin Sight</a></li>
                        <li><a href="/product2">Revin Log</a></li>
                        <li><a href="/product1">Revin Skypulse</a></li>
                    </ul>
                </li>
                <li><a href="/usecases">Use Cases</a></li>
                <li><a href="/about">About us</a></li>
                
            </ul>
            <a class="nav-btn" href="/contact">Contact us</a>
        </nav>
    </header>
    <main>
        <section class="system-agriculture-section1">
            <div class="system-background-image">
                <div class="text-content-system3">
                    <div class="revin-new-design-logo">
                        <!-- <div class="revin-revin product-revin">
                            <img src="logo2.png" alt="Revin">
                        </div> -->
                        <div class="skypulse">
                            <img src="product_skypulse.png" alt="Sight">
                        </div>
                    </div>
                    <h1>Elevate Your Yield and Business, From a Whole New Perspective. </h1>
                    <p>Experience the aerial insights and data analytics for precision farming.</p>
                    <!-- <div class="system-offerings">
                        <h2>What we offer</h2>
                        <ul>
                            <li>Crop Monitoring</li>
                            <li>Soil Assessment</li>
                            <li>Fertility Assessment</li>
                            <li>Emergence & Population</li>
                            <li>Irrigation & Drainage</li>
                            <li>Crop Protection</li>
                            <li>Harvest Planning</li>
                        </ul>
                    </div> -->
                    <a href="#" class="request-cta-button">Get Started</a>
                </div>
            </div>
        </section>
        

        <section class="system-precision-agriculture">
            <h1>Precision Agriculture</h1>
            <div class="system-tabs">
                <button class="system-tab system-active" onmouseover="showContent('system-crop-monitoring')">Crop Monitoring</button>
                <button class="system-tab" onmouseover="showContent('system-soil-assessment')">Soil Assessment</button>
                <button class="system-tab" onmouseover="showContent('system-fertility-assessment')">Fertility Assessment</button>
                <button class="system-tab" onmouseover="showContent('system-emergence')">Emergence</button>
                <button class="system-tab" onmouseover="showContent('system-irrigation-drainage')">Irrigation & Drainage</button>
                <button class="system-tab" onmouseover="showContent('system-crop-protection')">Crop Protection</button>
                <button class="system-tab" onmouseover="showContent('system-harvest-planning')">Harvest Planning</button>
            </div>
    
            <div class="system-tab-content system-active-content" id="system-crop-monitoring">
                <img src="crop_monitoring.jpg" alt="Crop Monitoring">
                <div>
                    <h2>Crop Monitoring</h2>
                    <p>Drone and multispectral analysis can detect disease and stress even before it becomes visible from the ground level. Use aerial imagery to monitor plant health and vegetation.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-soil-assessment">
                <img src="soil_assesment.jpg" alt="Soil Assessment">
                <div>
                    <h2>Soil Assessment</h2>
                    <p>Multispectral data can also be visualised as combinations of three bands. This visualisation reveals hidden patterns, such as the presence of weeds or waterlogged soil.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-fertility-assessment">
                <img src="fertility.jpg" alt="Fertility Assessment">
                <div>
                    <h2>Fertility Assessment</h2>
                    <p>Reduce cost and increase efficiency of fertilization by combining multispectral analysis with agronomic techniques.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-emergence">
                <img src="emergence.jpg" alt="Emergence">
                <div>
                    <h2>Emergence & Population</h2>
                    <p>High-resolution cameras on drones, and plant-counting algorithms can accurately and efficiently provide inventory, track crops, drive replanting decisions, and help predict yield.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-irrigation-drainage">
                <img src="irrigation.jpg" alt="Irrigation & Drainage">
                <div>
                    <h2>Irrigation & Drainage</h2>
                    <p>Thermal and infrared flights suit the planning and trouble shooting of irrigation systems, helping farmers manage water across their farm.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-crop-protection">
                <img src="crop_protection.jpg" alt="Crop Protection">
                <div>
                    <h2>Crop Protection</h2>
                    <p>Preemptively identify and solve problems by gaining a deeper understanding of crop changes over time. Assess stress and crop growth and help guide the proper and efficient application of crop protection products.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-harvest-planning">
                <img src="Harvest.jpg" alt="Harvest Planning">
                <div>
                    <h2>Harvest Planning</h2>
                    <p>Combine imagery and agronomic techniques to drive decision-making for a more efficiently planned harvest.</p>
                </div>
            </div>
        </section>

        <section class="sys-section">
            <h1 class="sys-heading">Grow with <span class="sys-highlight">Clarity</span></h1>
            <div class="sys-image-container">
              <img src="skypulse_drone.png" alt="Satellite Image" class="sys-image">
            </div>
            <div class="sys-features">
              <div class="sys-feature">
                <h2 class="sys-feature-title">Governance</h2>
                <p class="sys-feature-description">Enhance Yield Efficiency through Strategic Farm Management.</p>
              </div>
              <div class="sys-feature">
                <h2 class="sys-feature-title">Monitoring</h2>
                <p class="sys-feature-description">Measure crop health faster to maximise productivity.</p>
              </div>
              <div class="sys-feature">
                <h2 class="sys-feature-title">Securing</h2>
                <p class="sys-feature-description">Assess farmland damage in hours, not weeks.</p>
              </div>
            </div>
          </section>

          <section class="system-drone-section">
            <div class="system-drone-container">
              <div class="system-drone-text">
                <h2 class="system-drone-heading">How to elevate your decisions with aerial insights.</h2>
                <ul class="system-drone-list">
                  <li>Track vegetation health </li>
                  <li>Track crop yield</li>
                  <li>Gain early warnings of health problems</li>
                  <li>Irrigation system planning and inspection</li>
                  <li>Manage water resources and soil quality</li>
                </ul>
              </div>
              <div class="system-drone-image-container">
                <img src="benefits.jpg" alt="Drone Data" class="system-drone-image">
              </div>
            </div>
          </section>

          <section class="system-drone-section">
            <div class="system-drone-container">
                <div class="system-drone-image-container">
                    <img src="how_it_works.png" alt="Drone Data" class="system-drone-image">
                </div>
                <div class="system-drone-text">
                    <h2 class="system-drone-heading">Our Delivery Process: Data Capture to Insights</h2>
                    <div class="process-step">
                        <h3>Data Collection</h3>
                        <p>Our drones swiftly capture high-resolution RGB and multispectral imagery of your farmland, ensuring precise data for informed decisions.</p>
                    </div>
                    <div class="process-step">
                        <h3>Data Processing & Analysis</h3>
                        <p>Leverage our AI-powered platform to efficiently process and analyse drone data, generate accurate insights, and optimise your farming practices.</p>
                    </div>
                    <div class="process-step">
                        <h3>Data Delivery</h3>
                        <p>Access and share detailed maps, reports, and insights from your farm data on our user-friendly platform.</p>
                    </div>
                </div>
            </div>
          </section>

          <section class="request-hero-section">
            <div class="request-hero-content">
                <h1>Drone-as-a-Service (DaaS)</h1>
                <p>Maximise your operational efficiency without investing in hardware, software, and analytics with the Drone-as-a-Service solution.</p>
                <a href="/contact" class="request-cta-button">Learn More</a>
            </div>
        </section>

        <footer class="footer">
            <div class = "links">
                <div class ="links-div">
                    <div class="link_ele">
                        <img src ="logo.png" class="logo-img">
                        <div class = "revin-cont">
                            <p class = "link-css-con logo-bel-con">Building the most trusted, efficient, and inclusive data-driven tools for growers to sustainably transform agriculture.</p>
                            <!-- <p class = "link-css-con"></p> -->
                            <!-- <div class="social-media">
                                <a href= "#" target="_blank"><img src= "facebook.png" class ="social-icon social-first"></a>
                                <a href= "https://www.linkedin.com/company/revinkrishi/" target="_blank"><img src= "linkedIn.png" class ="social-icon social-first"></a>
                                <a href= "#" target="_blank"><img src= "instagram.png" class ="social-icon"></a>
                                <a href= "#" target="_blank"><img src= "twitter.png" class ="social-icon"></a>
                            </div> -->
                         </div>
                    </div>
                    <div class= "quick">
                        <div class="quick-links">
                            <p class = "heading1">Quick Links</p>
                            <a href= "/" class="links-click"><p class = "link-css link-first">Home</p></a>
                            <a href= "/product3" ><p class = "link-css">Revin Sight</p></a>
                            <a href= "/product2" ><p class = "link-css">Revin Log</p></a>
                            <a href= "/product1" ><p class = "link-css">Revin Skypulse</p></a>
                            <a href= "/usecases" ><p class = "link-css">Use cases</p></a>
                            <a href= "/about"  ><p class = "link-css">About us</p></a>
                            <a href= "/contact" ><p class = "link-css">Contact us</p></a>
                            
                            <!-- <a href= "#" ><p class = "link-css">Resource</p></a> -->
                        </div>
                    </div>
                    <div>
                        <div class="useful-links">
                            <p class = "heading1" >Useful Links</p>
                            <a href= "#"><p class = "link-css link-first">Terms and Conditions</p></a>
                            <a href= "#"><p class = "link-css">Privacy Policy</p></a>
                            <a href= "#"><p class = "link-css">FAQs</p></a>
                            
                        </div>
                    </div>
                    <div class="download-links-div">
                        <div class="download-links">
                            <p class = "heading1">Address</p>
                            <p class = "link-css-con link-first">Technology Innovation Foundation Of IIT Palakkad (TECHIN)
                                V Square Building, 3/1443, NH544, opposite ITI Ltd, Kanjikode, Pudussery Central, Kerala 678623
                                </p>
                            <!-- <a href= "#"><img src = "apple.png" class ="down-img down-img-first"></a>
                            <a href= "#"><img src = "android.png" class ="down-img"></a>   -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-footer">
                <div class="below-footer-content">
                    <h2>Write to us on</h2>
                    <p><a href="mailto:connect@revinkrishi.com">connect@revinkrishi.com</a></p>
                    <p><i class="fa fa-whatsapp" style="color: green; font-size: 24px;"></i><a href="https://wa.me/919778485001" target="_blank">+919778485001</a></p>
                    <p>"Send hi on WhatsApp to this number for more details".</p>
                </div>
                <hr class="below-footer-divider">
                <div class="below-footer-bottom">
                  <p>Copyright @ 2024 all rights reserved</p>
                  <div class="below-footer-social-icons">
                    <a href="https://www.youtube.com/@RevinKrishi"><i class="fa fa-youtube-play" style="color: red; font-size: 26px;"></i></a>
                    <a href="#"><i class="fa fa-facebook" style="color: #0866FF; font-size: 26px;"></i></a>
                    <a href="https://www.instagram.com/revinkrishi?igsh=cWt3dzNvYzlnNnMz"><i class="fa fa-instagram" style="color: #E1306C; font-size: 26px;"></i></a>
                    <a href="https://www.linkedin.com/company/revinkrishi/"><i class="fa fa-linkedin" style="color: #0A66C2; font-size: 26px;"></i></a>
                  </div>
                </div>
            </div>
        </footer>
    
    </main>
  
<script>
// Show content for the clicked tab and hide others
function showContent(tabId) {
    // Hide all tab contents
    const contents = document.querySelectorAll('.system-tab-content');
    contents.forEach(content => {
        content.style.display = 'none'; // Hide all content by default
    });

    // Remove active class from all tabs
    const tabs = document.querySelectorAll('.system-tab');
    tabs.forEach(tab => {
        tab.classList.remove('system-active');
    });

    // Show the clicked tab content and add the active class
    document.getElementById(tabId).style.display = 'flex'; // Show only the clicked tab content
    event.currentTarget.classList.add('system-active');
}

// Initial setup to show the first tab content (Crop Monitoring) on page load
document.addEventListener('DOMContentLoaded', function() {
    // Show the first tab's content by default (Crop Monitoring)
    document.getElementById('system-crop-monitoring').style.display = 'flex';
    document.querySelector('.system-tab').classList.add('system-active');
});


</script>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
      var header = document.querySelector("header");
      var logo = document.querySelector(".logo img");
      var dropdownButton = document.querySelector(".dropbtn");
      var dropdownIcon = document.querySelector(".dropbtn i");
      var navItems = document.querySelectorAll("header nav ul li a"); // Select all <a> tags inside <li>
      
      // Toggle 'sticky' class on header
      header.classList.toggle("sticky", window.scrollY > 0);
    
      if (window.scrollY > 0) {
      logo.src = "logo.png"; // Path to the new logo image
    } else {
      logo.src = "logo1.png"; // Path to the original logo image
    }

    if (window.scrollY > 0) {
      dropdownButton.style.backgroundColor = "transparent"; // Change dropdown background
      dropdownButton.style.color = "#000"; // Change text/icon color
      dropdownIcon.style.color = "#000"; // Change icon color to white
    } else {
      dropdownButton.style.backgroundColor = ""; // Reset to default
      dropdownButton.style.color = ""; // Reset text/icon color
      dropdownIcon.style.color = "white"; // Reset icon color to default
    }
      // Change color of <li> items based on scroll position
      if (window.scrollY > 0) {
        navItems.forEach(function (item) {
          item.style.color = "black"; // Change to your desired color (e.g., tomato)
        });
      } else {
        navItems.forEach(function (item) {
          item.style.color = ""; // Reset to original color (empty string applies default style)
        });
      }
    });
  </script>

</body>
</html>
