<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revin Log - Revin Krishi</title>
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="new_home.css">
    <link rel="stylesheet" href="product1.css">
    <link rel="stylesheet" href="product3.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="logo1.png" alt="Satcard Logo">
        </div>
        <!-- Dropdown icon for mobile screens -->
        <div class="dropdown">
            <button class="dropbtn"><i class="fas fa-bars"></i></button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/product3">Revin Sight</a>
                <a href="/product2">Revin Log</a>
                <a href="/product1">Revin Skypulse</a>
                <a href="/usecases">Use Cases</a>
                <a href="/about">About us</a>
                <a href="/contact" class="dropdown-demo">Contact Us</a>
              </div>
        </div>
        <!-- Regular navigation for larger screens -->
        <nav class = "nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="system-dropdown">
                    <a href="#">Systems</a>
                    <ul class="dropdown-content">
                        <li><a href="/product3">Revin Sight</a></li>
                        <li><a href="/product2">Revin Log</a></li>
                        <li><a href="/product1">Revin Skypulse</a></li>
                    </ul>
                </li>
                <li><a href="/usecases">Use Cases</a></li>
                <li><a href="/about">About us</a></li>
                
            </ul>
            <a class="nav-btn" href="/contact">Contact us</a>
        </nav>
    </header>
    <main>
        <section class="system-agriculture-section">
            <div class="system-background-image">
                <div class="text-content-system3">
                    <div class="revin-new-design-logo">
                        <!-- <div class="revin-revin product-revin">
                            <img src="logo2.png" alt="revin">
                        </div> -->
                        <div class="revin-log">
                            <img src="log1.png" alt="sight">
                        </div>
                    </div>
                    <h1>Actionable Insights. Higher Yields Delivered.</h1>
                    <p>Experience actionable insights and real-time crop intelligence for smarter decision-making.</p>
                    <a href="#" class="request-cta-button">Get Started</a>
                </div>
            </div>
        </section>

        <section class="system-precision-agriculture">
            <h1>Precision Agriculture</h1>
            <div class="system-tabs">
                <button class="system-tab system-active" onmouseover="showContent('system-crop-monitoring')">Farm & Crop Profiling</button>
                <button class="system-tab" onmouseover="showContent('system-soil-assessment')">Crop Planning & Monitoring</button>
                <button class="system-tab" onmouseover="showContent('system-fertility-assessment')">Task Management & Automation</button>
                <button class="system-tab" onmouseover="showContent('system-emergence')">Crop Advisory Management</button>
                <button class="system-tab" onmouseover="showContent('system-irrigation-drainage')">Agribusiness Management</button>
                <button class="system-tab" onmouseover="showContent('system-crop-protection')">Insightful Data Visualization</button>
                <!-- <button class="system-tab" onmouseover="showContent('system-harvest-planning')">Harvest Planning</button> -->
            </div>
    
            <div class="system-tab-content system-active-content" id="system-crop-monitoring">
                <img src="Farm_and_Crop_Profiling.jpg" alt="Crop Monitoring">
                <div>
                    <h2>Farm & Crop Profiling</h2>
                    <p>Allows for detail mapping of farm plots and crop profiling to have a unfied data for informed decision-making.
                        Capture essential details of farm & crop via mobile app. 
                        Creates unique farm IDs for all subsequent activities. 
                        Integrate IoTs to the farms for real-time data collection. 
                        Utilise geotagging mark fields, measure acreages, and create field maps for spatial understanding.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-soil-assessment">
                <img src="Crop_Planning_&_Monitoring.jpg" alt="Soil Assessment">
                <div>
                    <h2>Crop Planning & Monitoring</h2>
                    <p>It helps in planning your season in advance using a data-driven approach and leveraging insights to optimise overall crop performance. 
                        Activity calendars include nutrition, irrigation, pest, and disease schedules and beneficial agriculture practices. 
                        Uses farm, crop, weather, GIS and influential data to help in crafting personalised packages of practices. 
                        Remotely monitor farms using remote sensing technology for early problem identification, crop growth indicators, and yield forecasting. 
                        Prepare crop plans and assign it to respective farm IDs.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-fertility-assessment">
                <img src="Task_Management_&_Automation.jpg" alt="Fertility Assessment">
                <div>
                    <h2>Task Management & Automation</h2>
                    <p>It enables efficient resource allocation and workflow optimisation, contributing to increased productivity and sustainability in agriculture. 
                        Assign and monitor tasks for farms, field officers, and supervisors 
                        Automatic tasks assignments upon generation of alerts and reminders from GIS and IoTs
                        Mark each activity as complete to measure parameters like nutrition usage, activity cost, carbon emission and more.
                        Integration to inventory and farm financials.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-emergence">
                <img src="Crop_Advisory_Management.jpg" alt="Emergence">
                <div>
                    <h2>Crop Advisory Management</h2>
                    <p>It facilitates proactive farmer engagement and knowledge sharing, digitally empowering farmers to increase their farm productivity.
                        Send weather notifications, alerts, and personalised advice to farmers via the mobile app. 
                        Allow farmers to upload images/videos of problems and request expert advice. 
                        Provide prompt recommendations and product purchasing options via m-commerce. 
                        Send crop health-based notifications and alerts by analyzing geospatial images.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-irrigation-drainage">
                <img src="Agribusiness_Management.jpg" alt="Irrigation & Drainage">
                <div>
                    <h2>Agribusiness Management</h2>
                    <p>It ensures efficient resource utilisation and financial transparency, enabling strategic decisions for sustainable growth.
                        Update and track inventory levels of seeds, fertilisers, pesticides, and other farm inputs and associated prices. 
                        Monitor stock movement and usage, and set up alerts for low stock levels. 
                        Track farm expenses at activity level and manage operating costs. 
                        Generate profit and loss statements per farm ID and seamless integration with accounting softwares.</p>
                </div>
            </div>
    
            <div class="system-tab-content" id="system-crop-protection">
                <img src="Insightful_Data_Visualisation.jpg" alt="Crop Protection">
                <div>
                    <h2>Insightful Data Visualization</h2>
                    <p>Dashboards and analytics empowers agribusinesses with detail analytics to identify bottle-necks and trends. 
                        Visualize data through charts, graphs, and maps for easier interpretation and control role specific access.
                        Utilize AI assistance for data extraction and analysis.
                        Real time updates on field activities, crop growth status, resource usage etc
                        Overview of key farm metrics such as crop yields, acreage, estimated harvest etc.</p>
                </div>
            </div>
    
            <!-- <div class="system-tab-content" id="system-harvest-planning">
                <img src="crop13.png" alt="Harvest Planning">
                <div>
                    <h2>Harvest Planning</h2>
                    <p>Plan your harvest based on crop health and readiness using data-driven tools to maximize yield and minimize waste.</p>
                </div>
            </div> -->
        </section>

        <section class="sys-section">
            <h1 class="sys-heading">Bring your data to <span class="sys-highlight">life</span></h1>
            <div class="sys-image-container">
              <img src="LoG.png" alt="Satellite Image" class="sys-image">
            </div>
            <div class="sys-features">
              <div class="sys-feature">
                <h2 class="sys-feature-title">Intuitive</h2>
                <p class="sys-feature-description">Streamline processes for insights and navigation.</p>
              </div>
              <div class="sys-feature">
                <h2 class="sys-feature-title">Actionable</h2>
                <p class="sys-feature-description">Data gets turned into precise and achievable decisions.</p>
              </div>
              <div class="sys-feature">
                <h2 class="sys-feature-title">Seamless</h2>
                <p class="sys-feature-description">Simple and overseeing effective farm operations.</p>
              </div>
            </div>
          </section>

          <section class="system-drone-section">
            <div class="system-drone-container">
              <div class="system-drone-text">
                <h2 class="system-drone-heading">How can data-driven intelligence elevate agricultural productivity?</h2>
                <ul class="system-drone-list">
                  <li>Optimising crop planning and performance.</li>
                  <li>Providing real-time crop, weather, and soil insights.</li>
                  <li>Offering personalised expert advice.</li>
                  <li>Improving resource utilisation.</li>
                  <li>Tracking operating costs and financials.</li>
                  <li>Climate-smart Agricultural Practices.</li>
                  <li>Achieves End-to-end Traceability.</li>
                  <li>Tracking operating costs and financials.</li>
                </ul>
              </div>
              <div class="system-drone-image-container">
                <img src="4.jpg" alt="Drone Data" class="system-drone-image">
              </div>
            </div>
          </section>

          <section class="system-drone-section">
            <div class="system-drone-container">
                <div class="system-drone-image-container">
                    <img src="3.jpg" alt="Drone Data" class="system-drone-image">
                </div>
                <div class="system-drone-text">
                    <h2 class="system-drone-heading">Capture, Analyze, Act: Our Data-to-Decisions Workflow</h2>
                    <div class="process-step">
                        <h3>Requirement Analysis</h3>
                        <p>We understand your unique needs and align our platform accordingly.</p>
                    </div>
                    <div class="process-step">
                        <h3>Tailored Demo</h3>
                        <p>We visualise the process flow, how it will look after digitising, and provide you with the guided demo.</p>
                    </div>
                    <div class="process-step">
                        <h3>Go-live & Training</h3>
                        <p>Comprehensive handholding ensures seamless adoption and proficiency.</p>
                    </div>
                </div>
            </div>
          </section>

          <footer class="footer">
            <div class = "links">
                <div class ="links-div">
                    <div class="link_ele">
                        <img src ="logo.png" class="logo-img">
                        <div class = "revin-cont">
                            <p class = "link-css-con logo-bel-con">Building the most trusted, efficient, and inclusive data-driven tools for growers to sustainably transform agriculture.</p>
                            <!-- <p class = "link-css-con"></p> -->
                            <!-- <div class="social-media">
                                <a href= "#" target="_blank"><img src= "facebook.png" class ="social-icon social-first"></a>
                                <a href= "https://www.linkedin.com/company/revinkrishi/" target="_blank"><img src= "linkedIn.png" class ="social-icon social-first"></a>
                                <a href= "#" target="_blank"><img src= "instagram.png" class ="social-icon"></a>
                                <a href= "#" target="_blank"><img src= "twitter.png" class ="social-icon"></a>
                            </div> -->
                         </div>
                    </div>
                    <div class= "quick">
                        <div class="quick-links">
                            <p class = "heading1">Quick Links</p>
                            <a href= "/" class="links-click"><p class = "link-css link-first">Home</p></a>
                            <a href= "/product3" ><p class = "link-css">Revin Sight</p></a>
                            <a href= "/product2" ><p class = "link-css">Revin Log</p></a>
                            <a href= "/product1" ><p class = "link-css">Revin Skypulse</p></a>
                            <a href= "/usecases" ><p class = "link-css">Use cases</p></a>
                            <a href= "/about"  ><p class = "link-css">About us</p></a>
                            <a href= "/contact" ><p class = "link-css">Contact us</p></a>
                            
                            <!-- <a href= "#" ><p class = "link-css">Resource</p></a> -->
                        </div>
                    </div>
                    <div>
                        <div class="useful-links">
                            <p class = "heading1" >Useful Links</p>
                            <a href= "#"><p class = "link-css link-first">Terms and Conditions</p></a>
                            <a href= "#"><p class = "link-css">Privacy Policy</p></a>
                            <a href= "#"><p class = "link-css">FAQs</p></a>
                            
                        </div>
                    </div>
                    <div class="download-links-div">
                        <div class="download-links">
                            <p class = "heading1">Address</p>
                            <p class = "link-css-con link-first">Technology Innovation Foundation Of IIT Palakkad (TECHIN)
                                V Square Building, 3/1443, NH544, opposite ITI Ltd, Kanjikode, Pudussery Central, Kerala 678623
                                </p>
                            <!-- <a href= "#"><img src = "apple.png" class ="down-img down-img-first"></a>
                            <a href= "#"><img src = "android.png" class ="down-img"></a>   -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="below-footer">
                <div class="below-footer-content">
                    <h2>Write to us on</h2>
                    <p><a href="mailto:connect@revinkrishi.com">connect@revinkrishi.com</a></p>
                    <p><i class="fa fa-whatsapp" style="color: green; font-size: 24px;"></i><a href="https://wa.me/919778485001" target="_blank">+919778485001</a></p>
                    <p>"Send hi on WhatsApp to this number for more details".</p>
                </div>
                <hr class="below-footer-divider">
                <div class="below-footer-bottom">
                  <p>Copyright @ 2024 all rights reserved</p>
                  <div class="below-footer-social-icons">
                    <a href="https://www.youtube.com/@RevinKrishi"><i class="fa fa-youtube-play" style="color: red; font-size: 26px;"></i></a>
                    <a href="#"><i class="fa fa-facebook" style="color: #0866FF; font-size: 26px;"></i></a>
                    <a href="https://www.instagram.com/revinkrishi?igsh=cWt3dzNvYzlnNnMz"><i class="fa fa-instagram" style="color: #E1306C; font-size: 26px;"></i></a>
                    <a href="https://www.linkedin.com/company/revinkrishi/"><i class="fa fa-linkedin" style="color: #0A66C2; font-size: 26px;"></i></a>
                  </div>
                </div>
            </div>
        </footer>
    
    </main>
  
<script>
// Show content for the clicked tab and hide others
function showContent(tabId) {
    // Hide all tab contents
    const contents = document.querySelectorAll('.system-tab-content');
    contents.forEach(content => {
        content.style.display = 'none'; // Hide all content by default
    });

    // Remove active class from all tabs
    const tabs = document.querySelectorAll('.system-tab');
    tabs.forEach(tab => {
        tab.classList.remove('system-active');
    });

    // Show the clicked tab content and add the active class
    document.getElementById(tabId).style.display = 'flex'; // Show only the clicked tab content
    event.currentTarget.classList.add('system-active');
}

// Initial setup to show the first tab content (Crop Monitoring) on page load
document.addEventListener('DOMContentLoaded', function() {
    // Show the first tab's content by default (Crop Monitoring)
    document.getElementById('system-crop-monitoring').style.display = 'flex';
    document.querySelector('.system-tab').classList.add('system-active');
});


</script>
<script type="text/javascript">
    window.addEventListener("scroll", function () {
      var header = document.querySelector("header");
      var logo = document.querySelector(".logo img");
      var dropdownButton = document.querySelector(".dropbtn");
      var dropdownIcon = document.querySelector(".dropbtn i");
      var navItems = document.querySelectorAll("header nav ul li a"); // Select all <a> tags inside <li>
      
      // Toggle 'sticky' class on header
      header.classList.toggle("sticky", window.scrollY > 0);
    
      if (window.scrollY > 0) {
      logo.src = "logo.png"; // Path to the new logo image
    } else {
      logo.src = "logo1.png"; // Path to the original logo image
    }

    if (window.scrollY > 0) {
      dropdownButton.style.backgroundColor = "transparent"; // Change dropdown background
      dropdownButton.style.color = "#000"; // Change text/icon color
      dropdownIcon.style.color = "#000"; // Change icon color to white
    } else {
      dropdownButton.style.backgroundColor = ""; // Reset to default
      dropdownButton.style.color = ""; // Reset text/icon color
      dropdownIcon.style.color = "white"; // Reset icon color to default
    }
      // Change color of <li> items based on scroll position
      if (window.scrollY > 0) {
        navItems.forEach(function (item) {
          item.style.color = "black"; // Change to your desired color (e.g., tomato)
        });
      } else {
        navItems.forEach(function (item) {
          item.style.color = ""; // Reset to original color (empty string applies default style)
        });
      }
    });
  </script>

</body>
</html>
